<!-- //coding done by tasi unless otherwise commented -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 4 - Compass Heading
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="app-tab4">
    <div class="container">
  <ion-button (click)="getHeading()">Get Compass</ion-button>
  <br>
    <br>
    <br>
    Compass Value is: 
    <br>
    {{ rawCompass }} 
    <br>
    {{ compass }} 
    <br>
    {{ compassLabel }}
  </div>

</ion-content>
