<!-- //coding done by tasi unless otherwise commented -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2 - Send an Email
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="app-tab2">
    <div class="container">
  <ion-input [(ngModel)]="emailTo" label="To:" type="email" labelPlacement="stacked"></ion-input>
  <br>
  <ion-input [(ngModel)]="emailSubject" label="Subject:" labelPlacement="stacked"></ion-input>
  <br>
  <ion-input [(ngModel)]="emailBody" label="Email Body:" labelPlacement="stacked"></ion-input>
  <br>

  <ion-button (click)="sendEmail()">Send!</ion-button>
  <br>
  <br>
    Email Result:
    {{ emailResult }}    
  </div>
</ion-content>
